@tailwind base;
@tailwind components;
@tailwind utilities;


.image{
  background: radial-gradient(circle, rgb(0, 255, 98) 50%, rgb(2, 33, 206) 70%);
  border-radius: 100%;
  box-shadow: 0 0 150px rgb(248, 248, 2);
 
}


